body {
  background-color: #171515 !important;
}

.container {
  height: 100%;
}
.row {
  width: 100%;
  height: 100%;
}
.col {
  border: 1px solid #fff;
  height: 50px;
  color: #fff;
}
.letter {
  text-transform: uppercase;
  text-decoration: double;
  font-size: 16px;
  font-weight: 600;
}
.sound {
  font-size: 12px;
  font-weight: 200;
}
.col-selected {
  animation-name: example;
  animation-duration: 0.5s;
}

@keyframes example {
  0% {
    box-shadow: 0px 0px 5px 0px #d62c66;
    border: 2px solid #d62c20;
    color: #d62c20;
  }
  25% {
    box-shadow: 0px 0px 5px 2px #d62c66;
    border: 2px solid #d62c20;
    color: #d62c20;
  }
  50% {
    box-shadow: 0px 0px 5px 4px #d62c66;
    border: 2px solid #d62c20;
    color: #d62c20;
  }
  100% {
    box-shadow: 0;
    border: 1px solid #fff;
    color: #fff;
  }
}
